
.selectMenu{
    background-color: white;
    margin-top: 0px;
    width: 70%;
    border-radius: 10px;
    
}

.mainBox span{
    font-family: serif;
    font-size: 25px;
    
    color: white;
     margin-left: 10px;
}